.home {
    height: 100vh;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.home h1 {
    font-size: 3rem;
}

.home p {
    font-size: 1.2rem;
}